[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
wemake-python-styleguide = "*"

[packages]
django = "*"
pillow = "*"
six = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "python3 manage.py test"
server = "python3 manage.py runserver"
