{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}
<div class="actuSport">
    <h2>{% trans 'Mot de passe oublié' %}</h2>
</div>

<section class="inscription container">
    <div class=" my-5 py-5">
      <div class="col-lg-6 col-sm-12 container py-3 ">
        <h2 class="text-center">{% trans 'Réinitialise ton mon de passe' %}</h2>
        <form class="mt-5" method="POST">
        	{% csrf_token  %}
        	{% for field in form %}
				<p>
					{{ field.label_tag }} {{ field }}
				</p>
				{% if field.help_text %}
		        <span class="helptext text-danger font-italic">*{{ field.help_text|safe }}</span>
		        {% endif %}
		    {%endfor%}
          	<div class="text-center">
            	<button class="contact-submit" style="margin-top: 50px;"></button>
          	</div>
        </form>
      </div>
  </section>
{% endblock %}

  