{% extends "layout/base.html" %}
{% block content %}
{% load i18n %}

  <div class="actuSport">
    <h2>{% trans 'Connexion'%}</h2>
  </div>


  <section class="inscription container">

    <div class=" my-5 py-5">
      <div class="col-lg-6 col-sm-12 container py-3 ">
        <h2 class="text-center">{% trans 'Se connecter'%}</h2>
        <form class="mt-5" method="POST">
        	{% csrf_token  %}
          	{{ form.as_p }}
          	<div class="text-center">
            	<button class="contact-submit" style="margin-top: 50px;">{% trans 'Se connecter'%}</button>
          	</div>
        </form>
        <div class="resetPwd">
          <a href="{% url 'password_reset' %}">{% trans 'Mot de passe oublié?' %}</a>
        </div>
      </div>
  </section>
{% endblock %}
