{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}

<div class="actuSport">
    <h2>{% trans 'Inscription' %}</h2>
  </div>


  <section class="inscription ">
    <div class=" my-5 py-5">
      <div class="row ">
	      <div class="col-md-6 col-sm-12  py-3 alreadySign">
	          <h3 class="my-3" >{% trans 'Déja inscris ?' %}</h3>
	          <a  class="my-3" href="{% url 'login' %}">{% trans 'Connecte-toi' %}</a>
	      </div>
	    
	      <div class="col-md-6 col-sm-12 sign py-3 ">
	        <h2 class="text-center">{% trans "S'incrire" %}</h2>
	        <form class="mt-5" action="POST">
	        	{% csrf_token  %}
				{{ form }}
	          <div class="text-center">
	            <button class="contact-submit">{% trans "S'inscrire" %}</button>
	          </div>
	        </form>

	      </div>
    	</div>
    </div>
  </section>
{% endblock %}
