{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}

<div class="actuSport">
    <h2>{% trans 'Mot de passe oublié' %}</h2>
</div>

  <section class="inscription container">

    <div class=" my-5 py-5">
      <div class="col-lg-6 col-sm-12 container py-3 ">
        <h2 class="text-center">{% trans 'Réinitialise ton mot de passe: seconde étape' %}</h2>
        <form class="mt-5" method="POST">
        	{% csrf_token  %}
			{{ form.as_p }}
          <div class="text-center">
            <button class="contact-submit">{% trans 'Continuer' %}</button>
          </div>
        </form>
      </div>
  </section>
{% endblock %}
