{% load i18n %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description"
		content="{% trans 'Site d’actualité sportives faisant la promotion de bookmakers français et belge et proposant des pronostiques payants sous forme d’abonnements' %}" />
	<meta name="author" content="Givron Azim" />
	<title>{% trans 'CarlitoSport' %}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bonus.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/certification.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inscription.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Martel&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="{% static 'js/jsFile.js' %}"></script>
</head>

<body>
	<div class="upperBar">
		<div class="countryBlock">
			<div class="countrySelector">
				<a href=""><img src="{% static 'img/belgium.png' %}" id="belgium" class="country"></a>
				<a href=""><img src="{% static 'img/france.png' %}" id="france" class="country"></a>
				<a href=""><img src="{% static 'img/germany.png' %}" id="germany" class="country"></a>
			</div>
		</div>
		<div class="loginBlock">
			{% if user.is_authenticated %}
			<div style="font-size: 12px; margin-top: 10px; display: inline-block;">{{ user.email }}</div>
			<a class="loginButton" href="{% url 'logout' %}">{% trans 'Se déconnecter' %}</a>
			{% else %}
			<a class="loginButton" href="{% url 'login' %}">{% trans "S'identifier" %}</a>
			<a class="loginButton" href="{% url 'register' %}">{% trans "S'inscrire" %}</a>
			{% endif %}
		</div>
	</div>
	<div class="navbar">
		<div class="logo" onclick="window.location.href = '/';">{% trans 'CarlitoSport' %}</div>
		<div class="navbar-right">
			<a class="active" href="{% url 'homepage' %}">{% trans 'Acceuil' %}</a>
			{% if user.is_anonymous %}
			<a class="non-active" href="{% url 'register' %}">{% trans 'Inscription' %}</a>
			{% endif %}
			<a class="non-active" href="{% url 'bonus' %}">{% trans 'Bonus' %}</a>
			{% if user.is_authenticated and user.is_subscribed %}

			<a class="non-active" href="{% url 'pronos' %}">{% trans 'Pronos' %}</a>
			{% endif %}
			<a class="non-active" href="{% url 'certification' %}">{% trans 'Certification' %}</a>
			<a class="non-active" href="{% url 'faq' %}">{% trans 'FAQ' %}</a>
			<a class="non-active" href="#fb">{% trans 'Réseaux' %}</a>
			<a class="non-active" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
			<a class="non-active" href="{% url 'news' %}">{% trans 'News' %}</a>
		</div>
	</div>
	<center>
		<div class="back">
			{% if messages %}
			<div class="msg-error">
				{% for message in messsages %}
				{{message}}
				{% endfor %}
			</div>
			{% endif %}
			{% block content %}
			{% endblock  %}
		</div>
	</center>
	<div class="preFooter">
		{% if user.is_anonymous %}
		<div class="mailNext">
			<h1>{% trans 'NE LAISSEZ PASSER AUCUNES OFFRES!' %}</h1>
			<p>{% trans 'Tu veux profiter de bonus, promo et jeux concours?' %}<br>
				{% trans 'Inscris toi sans plus attendre' %}</p>
			<form id="emailEntry">
				<input type="email" name="email" placeholder="{% trans 'Email' %}"><br>
				<input type="email" name="emailConf" placeholder="{% trans 'Confirmation Email' %}"><br>
				<input type="submit" value="{% trans 'Suivant' %}">
			</form>
		</div>
		{% endif %}
		<div class="socialNet">
			<h1>{% trans 'Suivez nous!' %}</h1>
			<center>
				<div>
					<img id="fb" src="{% static 'img/facebook.png' %}">
				</div>
				<div>
					<img id="snp" src="{% static 'img/snapchat.png' %}">
				</div>
				<div>
					<img id="insta" src="{% static 'img/instagram.png' %}">
				</div>
			</center>
		</div>
		<div class="multiRef">
			<a href="{% url 'homepage' %}">{% trans 'Navigation' %}</a>
			{% if user.is_anonymous %}
			<a href="{% url 'register' %}">{% trans 'Devenir VIP' %}</a>
			{% endif %}
			<a href="{% url 'bonus' %}">{% trans 'Bonus' %}</a>
			<a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
		</div>
	</div>
	<footer>
		<div>{% trans 'Préventions' %}</div>
		<div>{% trans 'conditions: blabla' %}<br>
			{% trans 'blabla' %}</div>
	</footer>
</body>

</html>
