{% extends "layout/base.html" %}
{% block content %}

<div class="actuSport">
    <h2>Article</h2>
</div>


<section class=" mb-5">
	<div class="back d-flex justify-content-center">
	    <div class="textBlockArticle px-3 " style="width: 79%;">
	      
	        <img class="pr-4" src="{{article.image_url}}" style="display: inline; width: 50%; float: left; ">
	            <h1 class="mb-0">Saelemaekers, un Mauve à l’AC Milan: "Quand Boban et Maldini m’ont pris dans leurs bras…"</h1>
	            <p style="font-size: 14px; text-align: left;">{{article.content|safe}}</p>
	    </div>
	</div>
</section>
{% endblock %}
