{% extends "main/header.html" %}
{% block content %}
<div class="textBlock" id="bonus">
	<h1>Belgique</h1>
	<table>
		<tr>
			<td class="title" id="firstLineRight">Bookmaker</td>
			<td class="title" id="firstLineRight">Bonus</td>
			<td class="title" id="firstLineRight">Conditions</td>
			<td class="title" id="firstLineLeft">Note</td>
		</tr>
		<tr class="toBonus">
			<td>Bingoal</td>
			<td>100€</td>
			<td>A remiser 3fois sur paris simple avec une cote supérieur à 2.0</td>
			<td>5/10</td>
		</tr>
	</table>
</div>
</div>
{% endblock %}
