{% extends 'main/header.html' %}
{% block content %}
			<div class="loginFirstRight">
				<h1>Connecte toi</h1>
				{% if messages %}
					{% for msg in messages %}
						<script>
						    alert('{{ msg }}');
						</script>
						{% endfor %}
				{% endif %}
				<form id="emailEntry2" method="POST">
					{% csrf_token  %}
					<div>
						{{ form }}
					</div>
					<input type="submit" value="Se connecter"><br>
				</form>
				<a href="/password-reset">mot de passe oublié?</a>
			</div>
{% endblock %}		