{% extends "main/header.html" %}
{% block content %}
			<div class="News">
				<h1>
					News
				</h1>
				<div class="slice">
					<div class="article" onclick="window.location.href = '/article1';">
						<p>
							{% load static %}
							<img src="{% static 'img/article1.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
					<div class="article" onclick="window.location.href = '/article2';">
						<p>
							<img src="{% static 'img/article2.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
				</div>
				<div class="slice">
					<div class="article" onclick="window.location.href = '/article3';">
						<p>
							<img src="{% static 'img/article3.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
					<div class="article" onclick="window.location.href = '/article4';">
						<p>
							<img src="{% static 'img/article4.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
				</div>
				<div class="slice">
					<div class="article" onclick="window.location.href = '/article5';">
						<p>
							<img src="{% static 'img/article5.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
					<div class="article" onclick="window.location.href = '/article6';">
						<p>
							<img src="{% static 'img/article6.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
				</div>
				<div class="slice">
					<div class="article" onclick="window.location.href = '/article7';">
						<p>
							<img src="{% static 'img/article7.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
					<div class="article" onclick="window.location.href = '/article8';">
						<p>
							<img src="{% static 'img/article8.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
				</div>
				<div class="slice">
					<div class="article" onclick="window.location.href = '/article9';">
						<p>
							<img src="{% static 'img/article9.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
					<div class="article" onclick="window.location.href = '/article10';">
						<p>
							<img src="{% static 'img/article10.jpg' %}">
							Middlesbrough, Stoke, Derby chasing loan for Bournemouth's Jack Simpson
						</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
