{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}

<div class="actuSport">
	<h2>{% trans 'Payment' %}</h2>
</div>


<section class="container ">
	<div class=" my-5 py-5">
		<div class="row ">
			<div class="col-md-6 col-sm-12  py-3 alreadySign">
				<div class="textBlock" id="abonnements">
					<h2 class="py-3" style="text-transform: uppercase; margin-bottom: 5%;">
						{% trans "ABONNEMENT SELECTIONé" %}
					</h2>
					<h4 style="margin-bottom: 5%; font-size: 26px;">
						{{package.name}}
					</h4>
					<p style="line-height: 1.5; font-size: 20px;">
						{{package.description}}
					</p>
					</button>
				</div>
			</div>
			{% if not user.first_name or not user.last_name or not user.country %}
			<div class="col-md-6 col-sm-12 sign py-3 ">
				<h2 class="text-center" style="margin-top: 1rem;">{% trans "S'incrire" %}</h2>


				<form class="mt-5" method="POST">
					{% csrf_token  %}
					{% for field in form %}
					<p>
						{{ field.label_tag }} {{ field }}
					</p>
					{% if field.errors %}
					<span class="helptext text-danger font-italic">{{ field.errors }}</span>
					{% endif %}
					{% if field.help_text %}
					<span class="helptext font-italic">*{{ field.help_text|safe }}</span>
					{% endif %}
					{%endfor%}
					<input type="hidden" name="package_id" value="{{package.id}}" />
					<div class="text-center" style="margin-top: 50px;">
						<button class="contact-submit">{% trans "S'inscrire" %}</button>
					</div>
				</form>

			</div>
		</div>
		{% endif %}

	</div>
</section>
{% endblock %}
