{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}
<div class="textBlock" id="bonus">
	<h1>
		{% tarns 'PRONOS' %}
	</h1>
	<table>
		<tr>
			<td class="title" id="firstLineRight">{% tarns 'Match' %}</td>
			<td class="title" id="firstLine">{% tarns 'Côte' %}</td>
			<td class="title" id="firstLineLeft">{% tarns 'Gain' %}</td>
		</tr>
		<tr>
			<td>Real<br>vs<br>Barca</td>
			<td>Real gagnant<br>2.3</td>
			<td>200€</td>
		</tr>
		<tr>
			<td>Chealsea<br>vs<br>Manchester United</td>
			<td>Chelsea 2-0<br>4.0</td>
			<td>470€</td>
		</tr>
	</table>
</div>
</div>
{% endblock %}
