{% extends "layout/base.html" %}
{% block content %}
<div class="textBlock" id="bonus">
	<h1>
		PRONOS
	</h1>
	<table>
		<tr>
			<td class="title" id="firstLineRight">Match</td>
			<td class="title" id="firstLine">Côte</td>
			<td class="title" id="firstLineLeft">Gain</td>
		</tr>
		<tr>
			<td>Real<br>vs<br>Barca</td>
			<td>Real gagnant<br>2.3</td>
			<td>200€</td>
		</tr>
		<tr>
			<td>Chealsea<br>vs<br>Manchester United</td>
			<td>Chelsea 2-0<br>4.0</td>
			<td>470€</td>
		</tr>
	</table>
</div>
</div>
{% endblock %}
