{% extends "layout/base.html" %}
{% load i18n %}
{% block content %}
<div class="actuSport">
	<h2>{% trans 'Pronos' %}</h2>
</div>

<section class="pronosLink mb-5">
	<div class="opac">
		<div class="back container d-flex justify-content-center ">
			<div class="textBlock my-5" id="bonus">
				<h1 class="text-center">
					{% trans 'PRONOS' %}
				</h1>
				<table>
					<tr>
						<td class="title" id="firstLineRight">{% trans 'Match' %}</td>
						<td class="title" id="firstLine">{% trans 'Côte' %}</td>
						<td class="title" id="firstLineLeft">{% trans 'Gain' %}</td>
					</tr>
					<tr>
						<td>Real<br>vs<br>Barca</td>
						<td>Real gagnant<br>2.3</td>
						<td>200€</td>
					</tr>
					<tr>
						<td>Chealsea<br>vs<br>Manchester United</td>
						<td>Chelsea 2-0<br>4.0</td>
						<td>470€</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
{% endblock %}