{% extends "layout/base.html" %}
{% block content %}
{% load i18n %}
<div class="textBlock" id="abonnements">
	<p style="margin-bottom: 10px;">
		{% trans 'Ton compte a bien été créé!' %}
		<br>
		{% trans "Il ne te reste plus qu'à choisir un <b>Abonnement<b>." %}
	</p>
	<form method="post">
		{% csrf_token %}
		{% for package in packages %}
		<div class="package">
			{{package.name}}
			<p>
				{{package.description}}
			</p>
			<input type="radio" name="package_id" value="{{package.id}}" />
		</div>
		{% endfor %}
		<input type="submit" value="Save">
	</form>
</div>
{% endblock %}
