{% extends "main/header.html" %}
{% block content %}
<div class="textBlock" id="abonnements">
	<p style="margin-bottom: 10px;">
		Ton compte a bien été créé!
		<br>
		Il ne te reste plus qu'à choisir un <b>Abonnement<b>.
	</p>
	<form method="post">{% csrf_token %}
		{% for package in packages %}
		<div class="package">
			{{package.name}}
			<p>
				{{package.description}}
			</p>

			<input type="radio" name="package_id" value="{{package.id}}" />
		</div>
		{% endfor %}
		<input type="submit" value="Save">
	</form>
</div>
{% endblock %}
