.stayConnected h2{
    border-bottom: 1px solid #6b6b6b;
}
.stayConnected span{
    font-weight: bold;
}
.stayConnected{
    padding-bottom: 45px;
    border-bottom: 1px solid #6b6b6b;
}

.loveIt{
    border-bottom: 1px solid #6b6b6b;
}

.loveImg{
   width: 50%;
   height: 50%;
   align-items: center;
   align-self: center;
}

.inscription a {
    text-decoration: none ;
    padding: 40px 20px;
    background-color:#181818 ;
    color: white;
    border-radius: 20px;
    transition: 1s;
    font-weight: bold;
    border: 3px solid #181818 ;
}

.inscription a:hover{
    color:#181818 ;
    background-color: white;
    transition: 1s;
}
.inscription a:active{
    color:#181818 ;
    background-color: white;
    transition: 1s;
}

.w-75:hover {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .w-75{
        width: 60%!important;
    }
}

