.contact-form {

    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: #222;
    border: 0;
    border-bottom: 2px solid #222;
    height: 3em;
    outline: none;
}
.form-cont{
    width: 65%;
}

@media screen and (min-width: 1200px) {
    .form-cont {
        width: 45%;
    }
  }

#id_message{
    height: auto;
    resize: none;
}

.submit-cont{
    display: inline-block;
    background-color: #222;
    padding: 12px;
    width: 100%;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: .5s background-color ease;
    -o-transition: .5s background-color ease;
    transition: .5s background-color ease;
    font-size: 100%;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.submit-cont:hover{
    color: #222;
    background-color: #ffffff;
    -webkit-transition: .5s background-color ease;
    -o-transition: .5s background-color ease;
    transition: .5s background-color ease;  
}
.submit-cont:active{
    color: #222;
    background-color: #ffffff;
    -webkit-transition: .5s background-color ease;
    -o-transition: .5s background-color ease;
    transition: .5s background-color ease;  
}