body {
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/***UPPERBAR***/

.upperBar {
  height: 50px;
  background-color: #e6ecff;
  display: flex;
  right: 0;
  justify-content: flex-end;
  align-items: center;
}

.loginBlock {
  display: flex;
  align-items: center;
}

.block {
  display: flex;
  align-items: center;
}

#left {
  margin-right: 10px;
}

.loginButtonContainer {
  height: 90%;
}

.loginButton {
  width: auto;
  margin-right: 0;
  padding: 8px 35px;
  background-color: black;
  color: white;
  border-radius: 16px;
  border-style: none;
  font-size: 20px;
}
.loginButton a {
  color: white;
}

.loginButton:hover {
  background-color: #ffffff;
  color: black;
  text-decoration: none;
}
.loginButton:active {
  background-color: #ffffff;
  color: black;
  text-decoration: none;
}

.countrySelector img {
  cursor: pointer;
  width: 48px;
  height: 34px;
  margin-right: 3px;
}

.userImg {
  width: 30px;
}

.userNameContainer {
  display: inline-block;
  margin-right: 30px;
}

.userImgContainer {
  display: inline-block;
  height: 100%;
}

#userName {
  font-size: 14px;
  font-weight: bold;
}

/******/

/***NAVBAR***/
.navbar {
  background-color: black;
  padding: 12px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 240%;
  font-weight: bold;
  margin-left: 2%;
  font-family: Raleway, sans-serif;
}

.navbar-toggler:hover {
  outline: none;
}

.nav-link {
  font-size: 120%;
  margin: 0 8px;
}

.nav-link:hover {
  background-color: #ffffff;
  border-radius: 5px;
  color: black !important;
}
.nav-link:active {
  background-color: #ffffff;
  border-radius: 5px;
  color: black !important;
}

a {
  cursor: pointer !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  z-index: 5;
}

.endSticky {
  position: relative;

  width: 100%;
  transition: 1s;
}

@media screen and (min-width: 1200px) {
  /* .navbar-brand {
      font-size: 250%;
    } */
}

@media screen and (max-width: 1200px) {
  /* .navbar-brand {
      font-size: 280%;
    } */

  .mediaText {
    font-size: 100%;
  }
  .mediaText2 {
    font-size: 90%;
  }
  .mediaText3 {
    font-size: 250%;
  }
}

/*********/

.actuSport {
  text-align: center;
  padding: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(29, 29, 29);
}

.fixed:before {
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  background-image: url("../img/bg-foot.jpg");
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.fixed {
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opac {
  opacity: 1;
  background-color: #ffffff38;
}

.popup {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  pointer-events: auto;
}

.popup:target {
  opacity: 1;
  pointer-events: auto;
}

.popup > div {
  width: 600px;
  font-size: 24px;
  position: relative;
  margin: 10% auto;
  padding: 40px;
  border-radius: 10px;
  background: #e6ecff;
}

.popup img {
  margin: 10px;
  padding: 5px;
  width: 54px;
  height: 36px;
}

.popup img:hover {
  background: #c6d9ec;
  border-radius: 4px;
  cursor: pointer;
}
